*{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.addbtn, .subbtn, .resetbtn{
  padding: 10px;
  border-radius: 5px;
}